<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.nickname }}</title>
    <style>
        .wrapper {
            border: 2px solid gold;
            height: 100%;
            margin: 20px auto;
            padding: 20px;
            background: gainsboro;
        }

        h1 {
            border: 2px solid greenyellow;

            background: silver;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div>
        <span>OpenId:</span>
        <span>{{ user.openid }}</span>
    </div>
    <div>
        <span>Gender:</span>
        <span>{{ user.sex }}</span>
    </div>
    <div>
        <span>Province:</span>
        <span>{{ user.province }}</span>
    </div>
    <div>
        <span>City:</span>
        <span>{{ user.city }}</span>
    </div>
    <div>
        <span>Country:</span>
        <span>{{ user.country }}</span>
    </div>
    <div>
        <span>Profile Picture:</span>
        <img src="{{ use.headimgurl }}"></img>
    </div>
</div>
</body>
</html>