<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.nickname}}</title>
</head>
<body>
<div> <span>Gender</span><h1>{{ use.sex}}</h1></div>
<div> <span>Province</span><h1>{{ use.province}}</h1></div>
<div> <span>City</span><h1>{{ use.city}}</h1></div>
<div> <span>Country</span><h1>{{ use.country}}</h1></div>
<div> <span>Profile picture</span><img src={{ use.headimgurl}}></img></div>
</body>
</html>